extends layout

mixin tableRow(e)
    tr
        td #{e.type}
        td #{e.app_id}
        td #{e.session_id}
        td #{e.event_name}
        td #{e.event_time}
        td #{e.page}
        td #{e.country}
        td #{e.region}
        td #{e.city}
        td #{e.user_id}

block content
    table.ui.celled.table.center.aligned
        thead
            tr
                th type
                th app_id
                th session_id
                th event_name
                th event_time
                th page
                th country
                th region
                th city
                th user_id
        tbody
            each e in event_list
                +tableRow(e)
        tfoot
            tr
                th(colspan='10')